In [1]:
from tsai.models import MINIROCKET
import data_loader 
import pandas as pd
import numpy as np

In [2]:
data_hri = data_loader.DataLoader_HRI("../data/")

['0_val.csv', '0_train.csv', '1_val.csv', '1_train.csv', '2_val.csv', '2_train.csv', '3_train.csv', '3_val.csv', '4_train.csv', '4_val.csv', '5_train.csv', '5_val.csv', '6_val.csv', '6_train.csv', '7_train.csv', '7_val.csv', '8_train.csv', '8_val.csv', '9_val.csv', '9_train.csv', '10_val.csv', '10_train.csv', '11_train.csv', '11_val.csv', '12_val.csv', '12_train.csv', '13_val.csv', '13_train.csv', '14_train.csv', '14_val.csv', '15_train.csv', '15_val.csv', '16_train.csv', '17_train.csv', '18_train.csv', '19_train.csv', '20_train.csv', '21_train.csv', '22_train.csv', '23_train.csv', '24_train.csv', '25_train.csv', '26_train.csv', '27_train.csv', '28_train.csv', '29_train.csv', '30_train.csv', '31_train.csv', '32_train.csv', '33_train.csv', '34_train.csv', '35_train.csv', '36_train.csv', '37_train.csv', '38_train.csv', '39_train.csv', '40_train.csv', '41_train.csv', '42_train.csv', '43_train.csv', '44_train.csv', '45_train.csv', '46_train.csv', '47_train.csv', '48_train.csv', '49_train.csv', '50_train.csv', '51_train.csv', '52_train.csv', '53_train.csv', '54_train.csv']
['0_val.csv', '0_train.csv', '1_val.csv', '1_train.csv', '2_val.csv', '2_train.csv', '3_train.csv', '3_val.csv', '4_train.csv', '4_val.csv', '5_train.csv', '5_val.csv', '6_val.csv', '6_train.csv', '7_train.csv', '7_val.csv', '8_train.csv', '8_val.csv', '9_val.csv', '9_train.csv', '10_val.csv', '10_train.csv', '11_train.csv', '11_val.csv', '12_val.csv', '12_train.csv', '13_val.csv', '13_train.csv', '14_train.csv', '14_val.csv', '15_train.csv', '15_val.csv', '16_train.csv', '17_train.csv', '18_train.csv', '19_train.csv', '20_train.csv', '21_train.csv', '22_train.csv', '23_train.csv', '24_train.csv', '25_train.csv', '26_train.csv', '27_train.csv', '28_train.csv', '29_train.csv', '30_train.csv', '31_train.csv', '32_train.csv', '33_train.csv', '34_train.csv', '35_train.csv', '36_train.csv', '37_train.csv', '38_train.csv', '39_train.csv', '40_train.csv', '41_train.csv', '42_train.csv', '43_train.csv', '44_train.csv', '45_train.csv', '46_train.csv', '47_train.csv', '48_train.csv', '49_train.csv', '50_train.csv', '51_train.csv', '52_train.csv', '53_train.csv', '54_train.csv']
['0_val.csv', '0_train.csv', '1_val.csv', '1_train.csv', '2_val.csv', '2_train.csv', '3_train.csv', '3_val.csv', '4_train.csv', '4_val.csv', '5_train.csv', '5_val.csv', '6_val.csv', '6_train.csv', '7_train.csv', '7_val.csv', '8_train.csv', '8_val.csv', '9_val.csv', '9_train.csv', '10_val.csv', '10_train.csv', '11_train.csv', '11_val.csv', '12_val.csv', '12_train.csv', '13_val.csv', '13_train.csv', '14_train.csv', '14_val.csv', '15_train.csv', '15_val.csv', '16_train.csv', '17_train.csv', '18_train.csv', '19_train.csv', '20_train.csv', '21_train.csv', '22_train.csv', '23_train.csv', '24_train.csv', '25_train.csv', '26_train.csv', '27_train.csv', '28_train.csv', '29_train.csv', '30_train.csv', '31_train.csv', '32_train.csv', '33_train.csv', '34_train.csv', '35_train.csv', '36_train.csv', '37_train.csv', '38_train.csv', '39_train.csv', '40_train.csv', '41_train.csv', '42_train.csv', '43_train.csv', '44_train.csv', '45_train.csv', '46_train.csv', '47_train.csv', '48_train.csv', '49_train.csv', '50_train.csv', '51_train.csv', '52_train.csv', '53_train.csv', '54_train.csv']
['0_val.csv', '0_train.csv', '1_val.csv', '1_train.csv', '2_val.csv', '2_train.csv', '3_train.csv', '3_val.csv', '4_train.csv', '4_val.csv', '5_train.csv', '5_val.csv', '6_val.csv', '6_train.csv', '7_train.csv', '7_val.csv', '8_train.csv', '8_val.csv', '9_val.csv', '9_train.csv', '10_val.csv', '10_train.csv', '11_train.csv', '11_val.csv', '12_val.csv', '12_train.csv', '13_val.csv', '13_train.csv', '14_train.csv', '14_val.csv', '15_train.csv', '15_val.csv', '16_train.csv', '17_train.csv', '18_train.csv', '19_train.csv', '20_train.csv', '21_train.csv', '22_train.csv', '23_train.csv', '24_train.csv', '25_train.csv', '26_train.csv', '27_train.csv', '28_train.csv', '29_train.csv', '30_train.csv', '31_train.csv', '32_train.csv', '33_train.csv', '34_train.csv', '35_train.csv', '36_train.csv', '37_train.csv', '38_train.csv', '39_train.csv', '40_train.csv', '41_train.csv', '42_train.csv', '43_train.csv', '44_train.csv', '45_train.csv', '46_train.csv', '47_train.csv', '48_train.csv', '49_train.csv', '50_train.csv', '51_train.csv', '52_train.csv', '53_train.csv', '54_train.csv']
labels needed for session 0_val.csv : 47805
labels needed for session 0_train.csv : 46109
labels needed for session 1_val.csv : 74115
labels needed for session 1_train.csv : 51709
labels needed for session 2_val.csv : 51100
labels needed for session 2_train.csv : 83206
labels needed for session 3_train.csv : 50708
labels needed for session 3_val.csv : 37200
labels needed for session 4_train.csv : 54205
labels needed for session 4_val.csv : 56208
labels needed for session 5_train.csv : 50909
labels needed for session 5_val.csv : 64214
labels needed for session 6_val.csv : 31500
labels needed for session 6_train.csv : 40605
labels needed for session 7_train.csv : 52317
labels needed for session 7_val.csv : 39100
labels needed for session 8_train.csv : 74100
labels needed for session 8_val.csv : 52912
labels needed for session 9_val.csv : 63312
labels needed for session 9_train.csv : 52600
labels needed for session 10_val.csv : 36700
labels needed for session 10_train.csv : 32000
labels needed for session 11_train.csv : 38300
labels needed for session 11_val.csv : 33100
labels needed for session 12_val.csv : 50700
labels needed for session 12_train.csv : 36600
labels needed for session 13_val.csv : 62700
labels needed for session 13_train.csv : 40700
labels needed for session 14_train.csv : 35613
labels needed for session 14_val.csv : 49200
labels needed for session 15_train.csv : 43011
labels needed for session 15_val.csv : 43200
labels needed for session 16_train.csv : 48305
labels needed for session 17_train.csv : 38411
labels needed for session 18_train.csv : 50806
labels needed for session 19_train.csv : 37609
labels needed for session 20_train.csv : 29911
labels needed for session 21_train.csv : 39108
labels needed for session 22_train.csv : 51709
labels needed for session 23_train.csv : 40300
labels needed for session 24_train.csv : 38300
labels needed for session 25_train.csv : 41600
labels needed for session 26_train.csv : 36400
labels needed for session 27_train.csv : 30600
labels needed for session 28_train.csv : 53800
labels needed for session 29_train.csv : 34200
labels needed for session 30_train.csv : 51108
labels needed for session 31_train.csv : 37014
labels needed for session 32_train.csv : 46614
labels needed for session 33_train.csv : 56611
labels needed for session 34_train.csv : 33105
labels needed for session 35_train.csv : 39811
labels needed for session 36_train.csv : 64700
labels needed for session 37_train.csv : 41700
labels needed for session 38_train.csv : 31500
labels needed for session 39_train.csv : 43400
labels needed for session 40_train.csv : 35800
labels needed for session 41_train.csv : 34700
labels needed for session 42_train.csv : 40500
labels needed for session 43_train.csv : 60112
labels needed for session 44_train.csv : 48009
labels needed for session 45_train.csv : 51113
labels needed for session 46_train.csv : 52700
labels needed for session 47_train.csv : 44400
labels needed for session 48_train.csv : 40300
labels needed for session 49_train.csv : 68100
labels needed for session 50_train.csv : 70500
labels needed for session 51_train.csv : 42900
labels needed for session 52_train.csv : 59600
labels needed for session 53_train.csv : 45300
labels needed for session 54_train.csv : 44400


Number of sessions (data) parsed: 55 16
Number of sessions (labels) parsed: 55 16


Number of rows in merged dataframes: Train_X: 2528752 Train_Y: 2537748 Val_X: 790266 Val_Y: 793066

In [3]:
data_hri.val_Y[data_hri.val_Y["session"]==3][2725:2740]

,frame,session,Duration - ss.msec,Begin Time - ss.msec,UserAwkwardness,RobotMistake,InteractionRupture
2725,2725,3,0.01,27.25,1,1,1
2726,2726,3,0.01,27.26,1,1,1
2727,2727,3,0.01,27.27,0,0,0
2728,2728,3,0.01,27.28,0,0,0
2729,2729,3,0.01,27.29,0,0,0
2730,2730,3,0.01,27.30,0,0,0
2731,2731,3,0.01,27.31,0,0,0
2732,2732,3,0.01,27.32,0,0,0
2733,2733,3,0.01,27.33,0,0,0
2734,2734,3,0.01,27.34,0,0,0
2735,2735,3,0.01,27.35,0,0,0
2736,2736,3,0.01,27.36,0,0,0
2737,2737,3,0.01,27.37,0,0,0
2738,2738,3,0.01,27.38,0,0,0
2739,2739,3,0.01,27.39,0,0,0

In [6]:
val_X_TS_list, val_Y_TS_list, train_X_TS, train_Y_TS = data_hri.get_timeseries_format(
        intervallength=1000, stride=1000, fps=10)

In [7]:
val_X_TS_list[0].shape

(47, 107, 100)

In [15]:
train_X_TS.shape

(2504, 107, 1000)

In [4]:
tr = data_hri.train_X
tr

,frame,session,AU01_r_openface,AU01_c_openface,AU02_r_openface,AU04_r_openface,AU05_r_openface,AU06_r_openface,AU07_r_openface,AU09_r_openface,...,logRelF0-H1-A3_sma3nz_opensmile,F1frequency_sma3nz_opensmile,F1bandwidth_sma3nz_opensmile,F1amplitudeLogRelF0_sma3nz_opensmile,F2frequency_sma3nz_opensmile,F2bandwidth_sma3nz_opensmile,F2amplitudeLogRelF0_sma3nz_opensmile,F3frequency_sma3nz_opensmile,F3bandwidth_sma3nz_opensmile,F3amplitudeLogRelF0_sma3nz_opensmile
0,1,0,0.06,0.0,0.00,0.0,0.0,0.0,0.27,0.03,...,-11.261256,1336.56570,801.48070,4.584261,2376.2742,777.46844,6.609108,3251.1199,803.7478,8.525012
1,1,0,0.06,0.0,0.00,0.0,0.0,0.0,0.27,0.03,...,-12.525172,1053.50590,885.96160,-63.545944,2090.7010,866.97430,-61.715313,2989.5070,853.3838,-60.595320
2,1,0,0.06,0.0,0.00,0.0,0.0,0.0,0.27,0.03,...,0.000000,745.35150,902.49396,-131.676150,1787.0573,890.26660,-130.039730,2701.9048,860.8432,-129.715650
3,1,0,0.06,0.0,0.00,0.0,0.0,0.0,0.27,0.03,...,0.000000,707.16046,872.19946,-201.000000,1758.6289,868.56230,-201.000000,2681.4700,860.7564,-201.000000
4,2,0,0.14,0.0,0.00,0.0,0.0,0.0,0.22,0.03,...,0.000000,1017.59814,803.31195,-201.000000,2057.5974,805.89680,-201.000000,2913.1592,821.9514,-201.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43938,13326,54,1.05,0.0,0.43,0.0,0.0,0.0,0.49,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43939,13327,54,1.08,0.0,0.49,0.0,0.0,0.0,0.44,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43940,13328,54,1.07,0.0,0.54,0.0,0.0,0.0,0.29,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43941,13329,54,1.09,0.0,0.53,0.0,0.0,0.0,0.23,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43942,13330,54,1.01,0.0,0.37,0.0,0.0,0.0,0.20,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# tr where session=54
tr[tr['session']==54].tail(250)

,frame,session,AU01_r_openface,AU01_c_openface,AU02_r_openface,AU04_r_openface,AU05_r_openface,AU06_r_openface,AU07_r_openface,AU09_r_openface,...,logRelF0-H1-A3_sma3nz_opensmile,F1frequency_sma3nz_opensmile,F1bandwidth_sma3nz_opensmile,F1amplitudeLogRelF0_sma3nz_opensmile,F2frequency_sma3nz_opensmile,F2bandwidth_sma3nz_opensmile,F2amplitudeLogRelF0_sma3nz_opensmile,F3frequency_sma3nz_opensmile,F3bandwidth_sma3nz_opensmile,F3amplitudeLogRelF0_sma3nz_opensmile
43693,13108,54,1.16,0.0,0.28,0.0,0.0,0.0,0.75,0.09,...,0.0,0.0,0.0,-201.0,0.0,0.0,-201.0,0.0,0.0,-201.0
43694,13109,54,1.21,0.0,0.28,0.0,0.0,0.0,0.60,0.12,...,0.0,0.0,0.0,-201.0,0.0,0.0,-201.0,0.0,0.0,-201.0
43695,13109,54,1.21,0.0,0.28,0.0,0.0,0.0,0.60,0.12,...,0.0,0.0,0.0,-201.0,0.0,0.0,-201.0,0.0,0.0,-201.0
43696,13109,54,1.21,0.0,0.28,0.0,0.0,0.0,0.60,0.12,...,0.0,0.0,0.0,-201.0,0.0,0.0,-201.0,0.0,0.0,-201.0
43697,13110,54,1.24,0.0,0.37,0.0,0.0,0.0,0.54,0.15,...,0.0,0.0,0.0,-201.0,0.0,0.0,-201.0,0.0,0.0,-201.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43938,13326,54,1.05,0.0,0.43,0.0,0.0,0.0,0.49,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43939,13327,54,1.08,0.0,0.49,0.0,0.0,0.0,0.44,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43940,13328,54,1.07,0.0,0.54,0.0,0.0,0.0,0.29,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43941,13329,54,1.09,0.0,0.53,0.0,0.0,0.0,0.23,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43942,13330,54,1.01,0.0,0.37,0.0,0.0,0.0,0.20,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# print lenght of each each session in the dataset (per dataframe)

train_Y_counts = data_hri.train_Y["session"].value_counts().sort_index()
train_X_counts = data_hri.train_X["session"].value_counts().sort_index()
val_Y_counts = data_hri.val_Y["session"].value_counts().sort_index()
val_X_counts = data_hri.val_X["session"].value_counts().sort_index()

# print side by side
print("Train")
print(pd.concat([train_Y_counts, train_X_counts], axis=1))
print("Val")
print(pd.concat([val_Y_counts, val_X_counts], axis=1))

Train
         count  count
session
0        46109  46103
1        51709  51702
2        83206  83200
3        50708  50700
4        54205  54199
5        50909  50902
6        40605  40599
7        52317  52303
8        74100  74102
9        52600  52604
10       32000  31132
11       38300  37708
12       36600  36344
13       40700  40487
14       35613  35605
15       43011  43004
16       48305  48298
17       38411  38402
18       50806  50800
19       37609  37602
20       29911  29903
21       39108  39101
22       51709  51702
23       40300  40298
24       38300  37670
25       41600  40992
26       36400  35650
27       30600  30278
28       53800  53807
29       34200  34199
30       51108  51102
31       37014  37007
32       46614  46607
33       56611  56604
34       33105  33098
35       39811  39804
36       64700  64706
37       41700  41704
38       31500  30836
39       43400  43098
40       35800  35227
41       34700  34188
42       40500  40502
43       60112  60104
44       48009  48003
45       51113  51101
46       52700  52701
47       44400  44400
48       40300  40303
49       68100  68099
50       70500  70504
51       42900  42598
52       59600  58649
53       45300  44468
54       44400  43943
Val
         count  count
session
0        47805  47799
1        74115  74103
2        51100  51101
3        37200  36511
4        56208  56201
5        64214  64202
6        31500  31498
7        39100  38365
8        52912  52904
9        63312  63304
10       36700  36706
11       33100  32257
12       50700  50703
13       62700  62703
14       49200  49205
15       43200  42704

In [5]:
# print session 9 of train_Y
print(data_hri.train_Y[data_hri.train_Y["session"] == "9"].head(52604))

       frame session  Duration - ss.msec  Begin Time - ss.msec  \
0          1       9                0.01                  0.00
1          2       9                0.01                  0.01
2          3       9                0.01                  0.02
3          4       9                0.01                  0.03
4          5       9                0.01                  0.04
...      ...     ...                 ...                   ...
52599  52600       9                0.01                  0.06
52600  52601       9                0.01                  0.07
52601  52602       9                0.01                  0.08
52602  52603       9                0.01                  0.09
52603  52604       9                0.01                  0.10

       UserAwkwardness  RobotMistake  InteractionRupture
0                    0             0                   0
1                    0             0                   0
2                    0             0                   0
3                    0             0                   0
4                    0             0                   0
...                ...           ...                 ...
52599                0             0                   0
52600                0             0                   0
52601                0             0                   0
52602                0             0                   0
52603                0             0                   0

[52604 rows x 7 columns]

In [6]:
tr = data_hri.train_X
# print all columns with NaN values
print(tr.columns[tr.isna().any()].tolist())
# print all columns without NaN values
print(tr.columns[~tr.isna().any()].tolist())
# print number of nan per column
for col in tr.columns:
    print(f"{col}: {tr[col].isna().sum()}")

[' timestamp_openface', ' AU01_r_openface', ' AU01_c_openface', ' AU02_r_openface', ' AU04_r_openface', ' AU05_r_openface', ' AU06_r_openface', ' AU07_r_openface', ' AU09_r_openface', ' AU10_r_openface', ' AU12_r_openface', ' AU14_r_openface', ' AU15_r_openface', ' AU17_r_openface', ' AU20_r_openface', ' AU23_r_openface', ' AU25_r_openface', ' AU26_r_openface', ' AU45_r_openface', ' AU02_c_openface', ' AU04_c_openface', ' AU05_c_openface', ' AU06_c_openface', ' AU07_c_openface', ' AU09_c_openface', ' AU10_c_openface', ' AU12_c_openface', ' AU14_c_openface', ' AU15_c_openface', ' AU17_c_openface', ' AU20_c_openface', ' AU23_c_openface', ' AU25_c_openface', ' AU26_c_openface', ' AU28_c_openface', ' AU45_c_openface', 'frame_id_openpose', 'vel_1_x_openpose', 'vel_1_y_openpose', 'vel_8_x_openpose', 'vel_8_y_openpose', 'dist_1_8_openpose', 'vel_dist_1_8_openpose', 'dist_7_0_openpose', 'dist_4_0_openpose', 'vel_7_x_openpose', 'vel_7_y_openpose', 'vel_4_x_openpose', 'vel_4_y_openpose', 'vel_dist_7_0_openpose', 'vel_dist_4_0_openpose', 'dist_4_7_openpose', 'vel_dist_4_7_openpose', 'dist_4_2_openpose', 'vel_dist_4_2_openpose', 'dist_4_5_openpose', 'vel_dist_4_5_openpose', 'dist_4_1_openpose', 'vel_dist_4_1_openpose', 'dist_4_17_openpose', 'vel_dist_4_17_openpose', 'dist_4_15_openpose', 'vel_dist_4_15_openpose', 'dist_4_18_openpose', 'vel_dist_4_18_openpose', 'dist_4_16_openpose', 'vel_dist_4_16_openpose', 'dist_7_2_openpose', 'vel_dist_7_2_openpose', 'dist_7_5_openpose', 'vel_dist_7_5_openpose', 'dist_7_1_openpose', 'vel_dist_7_1_openpose', 'dist_7_17_openpose', 'vel_dist_7_17_openpose', 'dist_7_15_openpose', 'vel_dist_7_15_openpose', 'dist_7_18_openpose', 'vel_dist_7_18_openpose', 'dist_7_16_openpose', 'vel_dist_7_16_openpose', 'Loudness_sma3_opensmile', 'alphaRatio_sma3_opensmile', 'hammarbergIndex_sma3_opensmile', 'slope0-500_sma3_opensmile', 'slope500-1500_sma3_opensmile', 'spectralFlux_sma3_opensmile', 'mfcc1_sma3_opensmile', 'mfcc2_sma3_opensmile', 'mfcc3_sma3_opensmile', 'mfcc4_sma3_opensmile', 'F0semitoneFrom27.5Hz_sma3nz_opensmile', 'jitterLocal_sma3nz_opensmile', 'shimmerLocaldB_sma3nz_opensmile', 'HNRdBACF_sma3nz_opensmile', 'logRelF0-H1-H2_sma3nz_opensmile', 'logRelF0-H1-A3_sma3nz_opensmile', 'F1frequency_sma3nz_opensmile', 'F1bandwidth_sma3nz_opensmile', 'F1amplitudeLogRelF0_sma3nz_opensmile', 'F2frequency_sma3nz_opensmile', 'F2bandwidth_sma3nz_opensmile', 'F2amplitudeLogRelF0_sma3nz_opensmile', 'F3frequency_sma3nz_opensmile', 'F3bandwidth_sma3nz_opensmile', 'F3amplitudeLogRelF0_sma3nz_opensmile']
['frame', 'session']
frame: 0
 timestamp_openface: 7
session: 0
 AU01_r_openface: 7
 AU01_c_openface: 7
 AU02_r_openface: 7
 AU04_r_openface: 7
 AU05_r_openface: 7
 AU06_r_openface: 7
 AU07_r_openface: 7
 AU09_r_openface: 7
 AU10_r_openface: 7
 AU12_r_openface: 7
 AU14_r_openface: 7
 AU15_r_openface: 7
 AU17_r_openface: 7
 AU20_r_openface: 7
 AU23_r_openface: 7
 AU25_r_openface: 7
 AU26_r_openface: 7
 AU45_r_openface: 7
 AU02_c_openface: 7
 AU04_c_openface: 7
 AU05_c_openface: 7
 AU06_c_openface: 7
 AU07_c_openface: 7
 AU09_c_openface: 7
 AU10_c_openface: 7
 AU12_c_openface: 7
 AU14_c_openface: 7
 AU15_c_openface: 7
 AU17_c_openface: 7
 AU20_c_openface: 7
 AU23_c_openface: 7
 AU25_c_openface: 7
 AU26_c_openface: 7
 AU28_c_openface: 7
 AU45_c_openface: 7
frame_id_openpose: 54071
vel_1_x_openpose: 2528752
vel_1_y_openpose: 2528752
vel_8_x_openpose: 2528752
vel_8_y_openpose: 2528752
dist_1_8_openpose: 2528752
vel_dist_1_8_openpose: 2528752
dist_7_0_openpose: 2528752
dist_4_0_openpose: 2528752
vel_7_x_openpose: 2528752
vel_7_y_openpose: 2528752
vel_4_x_openpose: 2528752
vel_4_y_openpose: 2528752
vel_dist_7_0_openpose: 2528752
vel_dist_4_0_openpose: 2528752
dist_4_7_openpose: 54071
vel_dist_4_7_openpose: 54149
dist_4_2_openpose: 54071
vel_dist_4_2_openpose: 54149
dist_4_5_openpose: 54071
vel_dist_4_5_openpose: 54149
dist_4_1_openpose: 54071
vel_dist_4_1_openpose: 54149
dist_4_17_openpose: 54071
vel_dist_4_17_openpose: 54149
dist_4_15_openpose: 54071
vel_dist_4_15_openpose: 54149
dist_4_18_openpose: 54071
vel_dist_4_18_openpose: 54149
dist_4_16_openpose: 54071
vel_dist_4_16_openpose: 54149
dist_7_2_openpose: 54071
vel_dist_7_2_openpose: 54149
dist_7_5_openpose: 54071
vel_dist_7_5_openpose: 54149
dist_7_1_openpose: 54071
vel_dist_7_1_openpose: 54149
dist_7_17_openpose: 54071
vel_dist_7_17_openpose: 54149
dist_7_15_openpose: 54071
vel_dist_7_15_openpose: 54149
dist_7_18_openpose: 54071
vel_dist_7_18_openpose: 54149
dist_7_16_openpose: 54071
vel_dist_7_16_openpose: 54149
Loudness_sma3_opensmile: 3235
alphaRatio_sma3_opensmile: 3235
hammarbergIndex_sma3_opensmile: 3235
slope0-500_sma3_opensmile: 3235
slope500-1500_sma3_opensmile: 3235
spectralFlux_sma3_opensmile: 3235
mfcc1_sma3_opensmile: 3235
mfcc2_sma3_opensmile: 3235
mfcc3_sma3_opensmile: 3235
mfcc4_sma3_opensmile: 3235
F0semitoneFrom27.5Hz_sma3nz_opensmile: 3235
jitterLocal_sma3nz_opensmile: 3235
shimmerLocaldB_sma3nz_opensmile: 3235
HNRdBACF_sma3nz_opensmile: 3235
logRelF0-H1-H2_sma3nz_opensmile: 3235
logRelF0-H1-A3_sma3nz_opensmile: 3235
F1frequency_sma3nz_opensmile: 3235
F1bandwidth_sma3nz_opensmile: 3235
F1amplitudeLogRelF0_sma3nz_opensmile: 3235
F2frequency_sma3nz_opensmile: 3235
F2bandwidth_sma3nz_opensmile: 3235
F2amplitudeLogRelF0_sma3nz_opensmile: 3235
F3frequency_sma3nz_opensmile: 3235
F3bandwidth_sma3nz_opensmile: 3235
F3amplitudeLogRelF0_sma3nz_opensmile: 3235

In [5]:
# for session id in val Y list, print number of rows
for session_id in data_hri.val_Y["session"].unique():
    print(f"Session {session_id}: {len(data_hri.val_Y[data_hri.val_Y['session'] == session_id])}")

Session 0: 47805
Session 1: 74115
Session 2: 51100
Session 3: 37198
Session 4: 56208
Session 5: 64214
Session 6: 31500
Session 7: 39097
Session 8: 52912
Session 9: 63312
Session 10: 36700
Session 11: 33100
Session 12: 50700
Session 13: 62700
Session 14: 49200
Session 15: 43197

In [20]:
data_hri.val_Y[data_hri.val_Y["session"] == 3][16493:]

,frame,session,Duration - ss.msec,Begin Time - ss.msec,UserAwkwardness,RobotMistake,InteractionRupture
16493,16494,3,0.01,164.93,1,0,1
16494,16495,3,0.01,164.94,1,0,1
16495,16496,3,0.01,164.95,1,0,1
16496,16497,3,0.01,164.98,1,1,1
16497,16498,3,0.01,164.99,1,1,1
...,...,...,...,...,...,...,...
37193,37194,3,0.01,371.95,0,0,0
37194,37195,3,0.01,371.96,0,0,0
37195,37196,3,0.01,371.97,0,0,0
37196,37197,3,0.01,371.98,0,0,0
37197,37198,3,0.01,371.99,0,0,0

In [5]:
# for session id in val Y list, print number of rows
for session_id in data_hri.val_Y["session"].unique():
    print(f"Session {session_id}: {len(data_hri.val_Y[data_hri.val_Y['session'] == session_id])}")

Session 0: 47790
Session 10: 73387
Session 11: 33089
Session 12: 50689
Session 13: 62681
Session 14: 88581
Session 15: 43177
Session 1: 148204
Session 2: 102187
Session 3: 37178
Session 4: 56193
Session 5: 128409
Session 6: 62990
Session 7: 39051
Session 8: 52898
Session 9: 126602

In [6]:
print(len(val_X_TS_list))
for i, val in enumerate(val_X_TS_list):
    print(i, val.shape)

16
0 (47, 107, 1000)
1 (74, 107, 1000)
2 (51, 107, 1000)
3 (36, 107, 1000)
4 (56, 107, 1000)
5 (64, 107, 1000)
6 (31, 107, 1000)
7 (38, 107, 1000)
8 (52, 107, 1000)
9 (63, 107, 1000)
10 (36, 107, 1000)
11 (32, 107, 1000)
12 (50, 107, 1000)
13 (62, 107, 1000)
14 (49, 107, 1000)
15 (42, 107, 1000)

In [8]:
train_X_TS

array([[[1, 1, 1, ..., 300, 300, 300],
        [0, 0, 0, ..., 0, 0, 0],
        [0.06, 0.06, 0.06, ..., 0.13, 0.13, 0.13],
        ...,
        [3251.1199, 2989.507, 2701.9048, ..., 2341.9485, 2494.0007,
         2530.822],
        [803.7478, 853.3838, 860.8432, ..., 828.04535, 1099.4265,
         1106.4137],
        [8.525012, -60.59532, -129.71565, ..., -12.490682, -11.415532,
         -13.934845]],

       [[300, 301, 301, ..., 600, 600, 600],
        [0, 0, 0, ..., 0, 0, 0],
        [0.13, 0.09, 0.09, ..., 0.0, 0.0, 0.0],
        ...,
        [2738.9084, 2851.2644, 2940.448, ..., 3275.2336, 3551.1963,
         3498.1426],
        [1041.831, 897.5715, 839.8, ..., 2024.1167, 2005.9609,
         2108.7961],
        [-11.21621, -8.972824, -2.5465624, ..., -201.0, -201.0, -201.0]],

       [[600, 601, 601, ..., 900, 900, 900],
        [0, 0, 0, ..., 0, 0, 0],
        [0.0, 0.0, 0.0, ..., 0.84, 0.84, 0.84],
        ...,
        [3034.0896, 3009.8984, 3127.5715, ..., 2432.6956, 2459.676,
         2482.803],
        [1257.5731, 1357.8389, 1419.2666, ..., 493.72446, 438.13882,
         487.19308],
        [-201.0, -201.0, -201.0, ..., -129.76723, -201.0, -134.36646]],

       ...,

       [[14700, 14701, 14701, ..., 15000, 15000, 15000],
        [9, 9, 9, ..., 9, 9, 9],
        [0.41, 0.24, 0.24, ..., 0.83, 0.83, 0.83],
        ...,
        [2453.0354, 2424.1797, 2362.8523, ..., 2562.8704, 2517.0537,
         2495.8054],
        [707.72363, 668.412, 624.9759, ..., 624.03253, 654.0161,
         616.48334],
        [-201.0, -129.10078, -55.01878, ..., -3.1525657, -6.0569587,
         -6.8730655]],

       [[15000, 15001, 15001, ..., 15300, 15300, 15300],
        [9, 9, 9, ..., 9, 9, 9],
        [0.83, 0.68, 0.68, ..., 0.1, 0.1, 0.1],
        ...,
        [2571.9495, 2590.9912, 2582.2263, ..., 2514.0042, 2554.819,
         2497.089],
        [633.56805, 635.2911, 585.7419, ..., 1163.473, 1161.2516,
         1226.3369],
        [-7.7119355, -5.290422, -3.5426092, ..., -50.237568, 23.264177,
         13.852409]],

       [[15300, 15301, 15301, ..., 15600, 15600, 15600],
        [9, 9, 9, ..., 9, 9, 9],
        [0.1, 0.0, 0.0, ..., 0.08, 0.08, 0.08],
        ...,
        [2537.5613, 2355.969, 2245.5193, ..., 2939.8855, 2969.0974,
         2996.2341],
        [1068.3534, 1058.3453, 1968.461, ..., 653.1521, 706.3947,
         772.1574],
        [-60.5714, -134.07314, -201.0, ..., 7.4084764, 9.534537,
         10.5099125]]], dtype=object)

In [60]:
counter = 0

fps=1
new_feature = []
feature = [3,4,3,5,6,6,1,1,1, 2]*100
print(len(feature))
for i in range(0, len(feature), int(100/fps)):
                    new_feature.append(np.mean(feature[i:i+int(100/fps)]))

print(new_feature)
print(len(new_feature))

print(counter)

1000
[3.2, 3.2, 3.2, 3.2, 3.2, 3.2, 3.2, 3.2, 3.2, 3.2]
10
0

In [28]:
len(data_hri.val_Y["InteractionRupture"])

1153106

In [32]:
data_hri.val_Y["InteractionRupture"].value_counts()
# in percent
data_hri.val_Y["InteractionRupture"].value_counts(normalize=True)

InteractionRupture
0    0.818153
1    0.181847
Name: proportion, dtype: float64

In [ ]:
# look at correlations